<div class="gameResult">
  <div class="row">
    <div class="row-lg roundsRow">
      <div class="container-fluid rounds">
        <iframe
          [src]="this.getSafePlaylistUrl()"
          width="100%"
          height="100%"
        ></iframe>
      </div>
    </div>
    <div class="row-lg resultRow">
      <div class="leaderboardRow">
        <span class="leaderboardText">Leaderboard</span>
        <div class="leaderboard">
          <div class="playerRow" *ngFor="let player of players_scores; let i = index">
            <div class="playerNumber">
              {{ i + 1 }}
            </div>
            <div class="playerName">
              {{ player.name }}
            </div>
            <div class="playerScore">
              {{ player.score }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</div>
